<% content_for(:head) do %>
  <script src="js/admin.js"></script>
  <link rel="Stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<% end %>

<h1>Admin.</h1>

<ul class="sortable">
</ul>

<button id="save-app" class="btn btn-primary">Änderungen speichern</button>
<button id="new-page" class="btn btn-success">Neue Seite erstellen</button>

<div id="new-page-dialog">
  <fieldset>
    <label for="page[title]">Titel:</label>
    <input type="text" name="page[title]" id="page-title" class="form-control" />
    <label for="name">Typ:</label>
    <select name="page[type]" id="page-type" class="form-control">
      <option value="content">Seite mit Inhalt</option>
      <option value="navigation">Navigationspunkt</option>
    </select>
  </fieldset>
</div>
