<% content_for(:head) do %>
  <script src="js/admin.js"></script>
  <link rel="Stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<% end %>

<h1>Admin.</h1>

<div class="row">
  <div class="col-lg-6">
    <h4>Navigation</h4>
    <ul id="pages" class="sortable">
    </ul>
    <button id="new-page" class="btn btn-success">Neue Seite erstellen</button>
  </div>

  <div class="col-lg-6">
    <h4>Allgemeine Informationen</h4>
    <label id="page-title-label" for="page[title]">Titel:</label>
    <input type="text" class="form-control" name="application[title]" id="application-title" value="<%= @app.title %>" />
    <label id="page-title-label" for="page[title]">Besitzer:</label>
    <input type="text" class="form-control" name="application[owner]" id="application-owner" value="<%= @app.owner %>" />
  </div>

</div>
<hr />
<div class="row right">
  <button id="save-app" class="btn btn-primary">Änderungen speichern</button>
</div>
<div class="clear">
</div>

<div id="new-page-dialog">
  <fieldset>
    <label id="page-title-label" for="page[title]">Titel:</label>
    <input type="text" name="page[title]" id="page-title" class="form-control" />
    <label id="page-url-label" for="page[url]">Url:</label>
    <input type="text" name="page[url]" id="page-url" class="form-control" />
    <label id="page-name-label" for="name">Typ:</label>
    <select name="page[type]" id="page-type" class="form-control">
      <option value="content">Seite mit Inhalt</option>
      <option value="navigation">Navigationspunkt</option>
    </select>
    <label id="page-parent-label" for="name">Parent:</label>
    <select name="page[parent_id]" id="page-parent" class="form-control">
      <option value="<%= @app.id %>">Application</option>
    </select>
  </fieldset>
</div>
