<div>
  <p>
  <h2>Honorar</h2>
  Die Behandlung wird mit 50 Euro berechnet. Die Behandlungskosten werden in der Praxis bar bezahlt; selbstverständlich bekommen Sie eine entsprechende Rechnung, die Sie auch steuerlich geltend machen können.
  </p>
  <p>
  <h2>Kostenerstattung</h2>
  Gesetzliche Krankenkassen übernehmen in Deutschland die Kosten der Heilpraktiker (noch) nicht. Es besteht jedoch die Möglichkeit eine Zusatzversicherung für alternative Heilmethoden abzuschließen. Hierbei ist es sinnvoll, sich mehrere Angebote einzuholen und diese zu vergleichen. -> <a href="http://www.versicherung-vergleiche.de/krankenzusatzversicherung/ambulante-zusatzversicherung.php">Vergleichsrechner</a>. Gute Angebote bieten die DKV (Tarif NHB) und die Gothaer (MediNatura). <br />
Die Behandlungskosten beim Heilpraktiker werden durch private Krankenversicherungen und private Krankenzusatzversicherungen entsprechend den vereinbarten Tarifen erstattet. Je nach Tarif wird nur ein Teil der Kosten übernommen.
  </p>
</div>
