<div class="philosophy">
  <p>
  Für mich bedeutet ganzheitliche Behandlung auch, eine Brücke zu schlagen zwischen den Erkenntnissen der Schulmedizin und der Komplementärmedizin und damit einen Weg zu verfolgen, den man am besten mit dem Ausdruck „integrativ“ beschreiben kann.  Daher Patienten ergänzend und/oder begleitend zum Kinderarzt zu behandeln. Auf dieser Basis berate ich Sie auch gerne zum Thema „Impfen“.
  </p>
</div>
