/* common styles */
#main, #footer {
  width: 960px;
  margin: 0px auto;
  background-color: #eee;
}

.navbar {
  margin-bottom: 0px;
}

hr {
  border-top: 1px solid rgb(175, 175, 175);
}

/* Footer */
#footer {
  text-align: center;
  font-size: 60%;
  padding: 20px 0px;

  a {
    color: #333;
  }
}

/* About page */
body.about {
  h1 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
  }
  .image {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
  }
}

#about {
  p {
    margin-left: 20px;
  }
}
