/* common styles */
#main, #footer {
  width: 960px;
  margin: 0px auto;
  background-color: #eee;
}

.left {
  float: left;
}

.right {
  float: right
}

.clear {
  float: clear;
  clear: both;
}


.navbar {
  margin-bottom: 0px;
}

hr {
  border-top: 1px solid rgb(175, 175, 175);
}

/* Footer */
#footer {
  text-align: center;
  font-size: 60%;
  padding: 20px 0px;

  a {
    color: #333;
  }
}

/* About page */
body.about {
  h1 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
  }
  .image {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
  }
}

body.concept, body.philosophy {
  p {
    margin-top: 50px;
  }
}

#about {
  p {
    margin-left: 20px;
  }
}

// Admin Area
body.admin {
  .sortable li {
    list-style: none;
    background-color: #ccc;
    padding: 5px 5px;
    cursor: move;
    border-radius: 3px;
    margin-top: 3px;
    margin-left: -38px;

    h1 {
      float: right;
    }

    li.child {
      background-color: #eee;
      border: 1px solid #aaa;
    }

    ul.children {
      display: none;
    }

    .glyphicon {
      float: right;
      cursor: pointer;
      margin-left: 3px;
    }

  }

  #application-updated {
    font-size: 150%;
    margin-left: 20px;
    display: none;
  }

  #nav-settings {
    border-right: 1px solid #afafaf;
  }

  #save-app {
    margin-right: 20px;
  }

  .ui-dialog {
    font: inherit!important;
  }
  .ui-widget-header {
    background: #ccc;
    font-weight: normal;
    font-size: 110%;
    margin-bottom: 5px;
  }
  .ui-corner-all {
    border-radius: 0px;
  }
  label {
    font-weight: normal;
    margin-top: 7px;
  }
}
